{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{url_for('static',filename='css/one.css')}}">
    <script src="{{url_for('static',filename='javascript/node_modules/chart.js/dist/chart.js')}}"></script>
    <script src="{{url_for('static',filename='javascript/node_modules/jquery/dist/jquery.js')}}"></script>
    <script src="{{url_for('static',filename='javascript/node_modules/three/build/three.js')}}"></script>
    {# <script src="{{url_for('static',filename='javascript/node_modules/animejs/lib/anime.es.js')}}"></script> #}
{% endblock %}
{% block title %} One Day {% endblock %}
{% block content %}
    <div id="now-container">
        <div id="now-info">
            <div id="timezone-info">
            <h1 class="centered">Timezone - {{now['name']}} </h1>
            </div>

        {% if now %}
            <div id="now-temp" class="vertically horizontally">
            <h3 class="small">Temperature:<span class="medium"> {{now["current"]['temp']}} &#8451 </span> </h3>
            </div>
            <div id="now-cloud_desc" class="vertically horizontally">
            <h3 class="right"><span class="">{{now['current']['description']}}  </span>
            </div>
            <div id="now-cloud" class="vertically horizontally">
            <img class="right" src="{{now['current']['icon']}}" alt='icon'></img>  </h3>
            </div>
            
        {% endif %}
        </div>
        <div id="map-info">
         <p class="small centered">Location : {{request.cookies.get('city')}}</p>
         <div id="map" class=" vertically horizontally">
         <iframe 
            src="https://www.google.com/maps/embed/v1/place?key={{google_key}}
    &q={{request.cookies.get('city')}}"> 
         </iframe>
         </div>
        </div>
    </div>
    <div id="container_one"> 
        <p id="one" class="weather_option centered one-selected"> One Day </p>
        <canvas id="myChart"></canvas>
    </div>
    <script type="module" src="{{url_for('static',filename='javascript/one-day-plot.js')}}"></script>
    <div class="for_additional info centered big">
        <p class="show_detailed">Detailed</p>
        <div class="animated centered big">
            <span class="arrow-down">&#8595</span>
        </div>
    </div>
    {# <script type ="module"src="{{url_for('static',filename='javascript/animations.js')}}"></script> #}
{% endblock %}  


