@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@300;400&display=swap');

body{
    font-family: 'Zen Kaku Gothic New', sans-serif;
    font-weight:400;
    color:#011936FF;
    background-color:#e8ecf2;
}

.menu-text{
    font-size:1.6rem;
    text-align: right;
    text-decoration: underline;
    text-transform: none;
}
.menu-text a{
    color:inherit
}
#container{
    padding:0;
    display:grid;
    grid-template-columns: repeat(7,1fr);
    grid-template-areas:
    "one one seven seven seven fourteen fourteen";
}

.one-selected{
    font-size:3.5rem
}

.specified-margin{
    margin: 5em 2.5em 5em 0;
}
.centered{
    text-align:center;
}
.right{
    text-align:right;
}
.left{
    text-align:left;
}
.big{
    font-size:5rem;
}
.big-small{
    font-size:3rem;
}
.medium{
    font-size:2.4rem;
}
.small{
    font-size:1.8rem;
}
.img-size{
    width:10%;
}
#one{
    grid-area: one;
}
#seven{
    grid-area:seven;
}
#fourteen{
    grid-area:fourteen;
}



.vertically{
    align-items:center;
}
.horizontally{
    justify-items:center;
}