{%extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{url_for('static',filename='css/sign.css')}}">
{% endblock  %}
{%block title%} Sign In {%endblock%}

{% block content %}
<div id="sign_in">
<form action="{{url_for('static','')}}" method="post">
<div class="sign_div col horizontally vertically"> 
<span class="form-text small">Login</span>
<input type="text" name="login" id="login">
<span class="form-text small">Password</span>
<input type="text" name="password" id="password">
</div>
<div class="sign_div row remember horizontally vertically horizontally-c vertically-c">
    <input type="checkbox" name="remember" id="remember">
    <span class="form-text">Remember me</span>
</div>

<div class="sign_div col horizontally vertically horizontally-c vertically-c">
    <input type="submit" class="sign_button"  value="Sign In">
</div>
<div class="sign_div col horizontally vertically horizontally-c vertically-c">
    <span class="form-text">If you don't have account</span>
    <input type="submit" class="sign_button register_button"  value="Register">
</div>
</form>

</div>

</form>
{# 
<div id="contact">
    <div id="block">
         <a href="https://github.com/TheVipek/WeatherAPP" target="_blank"><i class="fab fa-github-alt fa-5x "></i></a>  
    </div> 
</div> #}
{% endblock  %}